:root {
  --color-1: #000000;
  --color-2: #071074;
  --color-3: #098666;
  --color-4: #0b99ff;
  --color-5: #101551;
  --color-6: #179863;
  --color-7: #1a1a1a;
  --color-8: #1d222b;
  --color-9: #293b5f;
  --color-10: #2f343d;
  --color-11: #344054;
  --color-12: #363942;
  --color-13: #3a424c;
  --color-14: #6b7180;
  --color-15: #6b7683;
  --color-16: #98a2b3;
  --color-17: #9aadf9;
  --color-18: #d4d4d4;
  --color-19: #dcdfe3;
  --color-20: #eeeff1;
  --color-21: #f25b50;
  --color-22: #f3f4f6;
  --color-23: #f7f8fa;
  --color-24: #f8f9fb;
  --color-25: #fe6041;
  --color-26: #feffcd;
  --color-27: #ff662b;
  --color-28: #ffe8e6;
  --color-29: #ffffff;
}
